<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Мышцы</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="mumia"><img src="/app/assets/images/mumia.png" alt=""></div>
          </div>
          <div class="col-md-6 bodypart">
            <ul>
              <li><a href="#/muscles/head"><span><img src="/app/assets/images/head.png" alt="ALT"></span><i>Мышцы головы
                и лица</i> </a></li>
              <li><a href="#/muscles/neck"><span><img src="/app/assets/images/neck.png" alt="ALT"></span><i>Мышцы
                шеи</i></a></li>
              <li><a href="#/muscles/torso"><span><img src="/app/assets/images/stomach.png" alt="ALT"></span><i>Мышцы
                туловища</i></a></li>
              <li><a href="#/muscles/pelvis"><span><img src="/app/assets/images/pelvis.png" alt="ALT"></span><i>Мышцы
                таза</i></a></li>
              <li><a href="#/muscles/hand"><span><img src="/app/assets/images/hand.png" alt="ALT"></span><i>Мышцы
                верхних конечностей</i></a></li>
              <li><a href="#/muscles/foot"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Мышцы нижних
                конечностей</i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Мышцы человека: строение и функции мускулатуры</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Анатомический атлас человека - целый комплекс полезной информации, предназначен врачам всех
                специальностей, студентам медицинских вузов, а также незаменим для массажистов, художников, научных
                работников и всех, кто интересуется этим интересным словом - анатомия.</p>
              <p>Атлас, построенный по принципам систематической и функциональной анатомии, содержит огромное количество
                высококачественных иллюстраций по всем аппаратам, системам и органам человека. Содержание анатомического
                атласа полностью соответствует программе по анатомии для медицинских вузов и для работы массажиста.
                Анатомические термины даны на русском языке.</p>
              <p>Анатомия человека включает анатомическое описание движений нашего тела, особенностей строения и
                физиологии костей и мышц и полную информацию о суставах. Визуальная четкость иллюстраций облегчит
                интерпретацию информации, а благодаря обширному фактическому материалу из авторитетных источников
                анатомический атлас может претендовать на высокую степень точности данных.</p>
              <p>Анатомия человека является одним из самых интересных и востребованных научных направлений
                современности. Несмотря на многовековую историю, анатомия человека до сих пор хранит огромное количество
                тайн и секретов. Человеческий организм представляет собой сложный механизм, который состоит из огромного
                количества деталей и элементов. Каждая из «запчастей» является уникальной и неповторимой. Процессы
                обмена веществ, роста, а также самовоспроизведения являются лишь следствиями глобальных изменений,
                которые происходят в человеческом теле на протяжении всей жизни. Изучение и исследование анатомии
                человека ведется в самых разнообразных ракурсах.</p>
              <p>Благодаря этому атласу у Вас всегда будут под рукой подробные сведения о скелетно-мышечной
                анатомии.</p>
            </div>
          </div>

        </div>
      </div>
      <br><br>

    </div>
  </div>
</div>
